# TITANIC

In [1]:
from pyspark import SparkContext
from pyspark.sql import SparkSession
import findspark
findspark.init()

In [2]:
sc= SparkContext(appName= 'Chapter7-Excersice3', master= 'local')
ss= SparkSession(sc)

## Đọc dữ liệu

In [3]:
path= '/Users/vovanthuong/Desktop/9 - Big Data in Machine Learning/Data/Chapter7/titanic.csv'
df= ss.read.csv(path, inferSchema= True, header= True)

In [4]:
df.show(2)

+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|   Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0| PC 17599|71.2833|  C85|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+---------+-------+-----+--------+
only showing top 2 rows

In [5]:
df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

## Kiểm tra tổng quát bộ dữ liệu

In [6]:
df.count()

891

In [34]:
for col in df.columns:
    print('________________________{col}________________________'.format(col= col))
    dtype= df.select(col).dtypes[0][1]
    print('dtype:', dtype)
    count= df.select(col).distinct().count()
    print('Number of group:', count)
    cross_table= df.crosstab(col1= col, col2= 'Survived')
    cross_table.withColumn('total', sum(cross_table[col] for col in cross_table.columns[1:])).show()

________________________PassengerId________________________
dtype: int
Number of group: 891
+--------------------+---+---+-----+
|PassengerId_Survived|  0|  1|total|
+--------------------+---+---+-----+
|                 645|  0|  1|    1|
|                  69|  0|  1|    1|
|                 809|  1|  0|    1|
|                 629|  1|  0|    1|
|                 365|  1|  0|    1|
|                 138|  1|  0|    1|
|                 760|  0|  1|    1|
|                 101|  1|  0|    1|
|                 479|  1|  0|    1|
|                 347|  0|  1|    1|
|                 846|  1|  0|    1|
|                 333|  1|  0|    1|
|                 628|  0|  1|    1|
|                 249|  0|  1|    1|
|                 518|  1|  0|    1|
|                 468|  1|  0|    1|
|                 234|  0|  1|    1|
|                 777|  1|  0|    1|
|                 555|  0|  1|    1|
|                 666|  1|  0|    1|
+--------------------+---+---+-----+
only showing top 20 rows

________________________Survived________________________
dtype: int
Number of group: 2
+-----------------+---+---+-----+
|Survived_Survived|  0|  1|total|
+-----------------+---+---+-----+
|                1|  0|342|  342|
|                0|549|  0|  549|
+-----------------+---+---+-----+

________________________Pclass________________________
dtype: int
Number of group: 3
+---------------+---+---+-----+
|Pclass_Survived|  0|  1|total|
+---------------+---+---+-----+
|              2| 97| 87|  184|
|              1| 80|136|  216|
|              3|372|119|  491|
+---------------+---+---+-----+

________________________Name________________________
dtype: string
Number of group: 891
+--------------------+---+---+-----+
|       Name_Survived|  0|  1|total|
+--------------------+---+---+-----+
|Hedman, Mr. Oskar...|  0|  1|    1|
|   Woolner, Mr. Hugh|  0|  1|    1|
| Collyer, Mr. Harvey|  1|  0|    1|
|    Buss, Miss. Kate|  0|  1|    1|
| Pinsky, Mrs. (Rosa)|  0|  1|    1|
|"Hegarty, Miss. H...|  1|  0|    1|
|Sutton, Mr. Frede...|  1|  0|    1|
|Tornquist, Mr. Wi...|  0|  1|    1|
|Gustafsson, Mr. A...|  1|  0|    1|
|Vander Planke, Mr...|  1|  0|    1|
|   Sivic, Mr. Husein|  1|  0|    1|
|"Lovell, Mr. John...|  1|  0|    1|
|Allen, Mr. Willia...|  1|  0|    1|
|Turpin, Mr. Willi...|  1|  0|    1|
|Becker, Miss. Mar...|  0|  1|    1|
|Madsen, Mr. Fridt...|  0|  1|    1|
|Emanuel, Miss. Vi...|  0|  1|    1|
|"Flynn, Mr. John ...|  0|  1|    1|
|Sjostedt, Mr. Ern...|  1|  0|    1|
|Goodwin, Miss. Li...|  1|  0|    1|
+--------------------+---+---+-----+
only showing top 20 rows

________________________Sex________________________
dtype: string
Number of group: 2
+------------+---+---+-----+
|Sex_Survived|  0|  1|total|
+------------+---+---+-----+
|        male|468|109|  577|
|      female| 81|233|  314|
+------------+---+---+-----+

________________________Age________________________
dtype: double
Number of group: 89
+------------+---+---+-----+
|Age_Survived|  0|  1|total|
+------------+---+---+-----+
|        null|125| 52|  177|
|         5.0|  0|  4|    4|
|        10.0|  2|  0|    2|
|        56.0|  2|  2|    4|
|        70.5|  1|  0|    1|
|        42.0|  7|  6|   13|
|        24.0| 15| 15|   30|
|        37.0|  5|  1|    6|
|        25.0| 17|  6|   23|
|        52.0|  3|  3|    6|
|        14.0|  3|  3|    6|
|        20.0| 12|  3|   15|
|        46.0|  3|  0|    3|
|        57.0|  2|  0|    2|
|        29.0| 12|  8|   20|
|        61.0|  3|  0|    3|
|        40.5|  2|  0|    2|
|        0.42|  0|  1|    1|
|         1.0|  2|  5|    7|
|        74.0|  1|  0|    1|
+------------+---+---+-----+
only showing top 20 rows

________________________SibSp________________________
dtype: int
Number of group: 7
+--------------+---+---+-----+
|SibSp_Survived|  0|  1|total|
+--------------+---+---+-----+
|             0|398|210|  608|
|             5|  5|  0|    5|
|             1| 97|112|  209|
|             2| 15| 13|   28|
|             3| 12|  4|   16|
|             8|  7|  0|    7|
|             4| 15|  3|   18|
+--------------+---+---+-----+

________________________Parch________________________
dtype: int
Number of group: 7
+--------------+---+---+-----+
|Parch_Survived|  0|  1|total|
+--------------+---+---+-----+
|             0|445|233|  678|
|             5|  4|  1|    5|
|             1| 53| 65|  118|
|             6|  1|  0|    1|
|             2| 40| 40|   80|
|             3|  2|  3|    5|
|             4|  4|  0|    4|
+--------------+---+---+-----+

________________________Ticket________________________
dtype: string
Number of group: 681
+-----------------+---+---+-----+
|  Ticket_Survived|  0|  1|total|
+-----------------+---+---+-----+
|          3101277|  1|  0|    1|
|           231919|  0|  2|    2|
|           384461|  1|  0|    1|
|             4137|  1|  0|    1|
|           113572|  0|  2|    2|
|           315094|  1|  0|    1|
|           365226|  1|  0|    1|
|             8475|  1|  0|    1|
|            17466|  0|  1|    1|
|            29751|  1|  0|    1|
|           113789|  1|  1|    2|
|         PC 17590|  1|  0|    1|
|SOTON/O.Q. 392078|  0|  1|    1|
|            28206|  1|  0|    1|
|           349256|  0|  1|    1|
|           342826|  1|  0|    1|
|             2003|  0|  1|    1|
|           343275|  1|  0|    1|
|           365222|  1|  0|    1|
|            31028|  1|  0|    1|
+-----------------+---+---+-----+
only showing top 20 rows

________________________Fare________________________
dtype: double
Number of group: 248
+-------------+---+---+-----+
|Fare_Survived|  0|  1|total|
+-------------+---+---+-----+
|      11.1333|  0|  3|    3|
|         7.25| 12|  1|   13|
|       7.7958|  4|  2|    6|
|      76.7292|  0|  3|    3|
|        7.225|  9|  3|   12|
|          0.0| 14|  1|   15|
|         86.5|  0|  3|    3|
|      71.2833|  0|  1|    1|
|       8.4583|  1|  0|    1|
|         16.7|  0|  2|    2|
|        12.65|  0|  1|    1|
|      20.2125|  2|  0|    2|
|      106.425|  1|  1|    2|
|      81.8583|  0|  1|    1|
|          5.0|  1|  0|    1|
|         6.75|  2|  0|    2|
|        120.0|  0|  4|    4|
|         33.5|  1|  0|    1|
|      34.6542|  1|  0|    1|
|      227.525|  1|  3|    4|
+-------------+---+---+-----+
only showing top 20 rows

________________________Cabin________________________
dtype: string
Number of group: 148
+---------------+---+---+-----+
| Cabin_Survived|  0|  1|total|
+---------------+---+---+-----+
|             D7|  0|  1|    1|
|            E50|  0|  1|    1|
|B57 B59 B63 B66|  0|  2|    2|
|           E121|  0|  2|    2|
|            E36|  0|  1|    1|
|           null|481|206|  687|
|           B101|  0|  1|    1|
|            B80|  0|  1|    1|
|        C62 C64|  0|  1|    1|
|            E63|  1|  0|    1|
|            E44|  1|  1|    2|
|            D36|  0|  2|    2|
|             B5|  0|  2|    2|
|          F E69|  0|  1|    1|
|            E25|  0|  2|    2|
|             E8|  0|  2|    2|
|            D19|  0|  1|    1|
|            F38|  1|  0|    1|
|            C90|  0|  1|    1|
|            B94|  1|  0|    1|
+---------------+---+---+-----+
only showing top 20 rows

________________________Embarked________________________
dtype: string
Number of group: 4
+-----------------+---+---+-----+
|Embarked_Survived|  0|  1|total|
+-----------------+---+---+-----+
|                S|427|217|  644|
|                C| 75| 93|  168|
|                Q| 47| 30|   77|
|             null|  0|  2|    2|
+-----------------+---+---+-----+

## Xác định input, output

In [63]:
output_col= 'Survived'
input_cols= df.columns
input_cols.remove(output_col)
input_cols.remove('PassengerId')
input_cols.remove('Name')
input_cols.remove('Ticket')
input_cols.remove('Cabin')

In [50]:
input_cols

['Pclass', 'Sex', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked']

## Kiểm tra NAN NULL

In [51]:
# Kiểm tra giá trị NaN
from pyspark.sql.functions import count, when, isnan, isnull, col
nan_data= df.select([count(when(isnan(c), c)).alias(c + '_nan') for c in input_cols]).toPandas().T
nan_data

              0
Pclass_nan    0
Sex_nan       0
Age_nan       0
SibSp_nan     0
Parch_nan     0
Fare_nan      0
Embarked_nan  0

In [53]:
# Kiểm tra giá trị Null
null_data= df.select([count(when(isnull(c), c)).alias(c + '_null') for c in input_cols]).toPandas().T
null_data

                 0
Pclass_null      0
Sex_null         0
Age_null       177
SibSp_null       0
Parch_null       0
Fare_null        0
Embarked_null    2

In [67]:
df= df.dropna(how= 'any', subset= output_col)
df= df.dropna(how= 'any', subset= input_cols)

Việc loại bỏ hàng dữ liệu NAN hoặc NULL trong trường hợp này nhằm mục đích thực hành bài tập về hồi quy Logistic với Pyspark. Trong điều kiện thực tế việc xóa các dòng dữ liệu chứa NAN/NULL phụ thuộc nhiều vào một số yếu tố cần cân nhắc như: các dữ liệu thiếu (NAN/NULL) là thiếu ngẫu nhiên hay thiếu có hệ thống; số lượng dòng dữ liệu bị thiếu hoặc.  
Đánh giá cá nhân việc sử lý các dữ liệu thiếu: Trong trường hợp thiếu dữ liệu được xác định là ngẫu nhiên, số lượng mẫu nhiều thì nên loại bỏ khỏi dữ liệu train phản ánh chính xác nhất với thực tế và tránh những sai lầm trong việc phỏng đoán dữ liệu thiếu cho mô hình. Nên xây dựng phương án xử lý dữ liệu thiếu cho dữ liệu train trong hầu hết trường hợp bởi lẽ nhu cầu thực tế khi sử dụng mô hình chính là dự đoán trong mọi trường hợp có thể xảy ra.

In [69]:
# Kiểm tra giá trị Null
null_data= df.select([count(when(isnull(c), c)).alias(c + '_null') for c in input_cols]).toPandas().T
null_data

               0
Pclass_null    0
Sex_null       0
Age_null       0
SibSp_null     0
Parch_null     0
Fare_null      0
Embarked_null  0

## Chia tập dữ liệu train và test

In [70]:
train, test= df.randomSplit([0.8, 0.2])

In [71]:
df.count()

712

## Tạo Pipe xử lý dữ liệu

In [101]:
from pyspark.ml.feature import SQLTransformer
select_column= SQLTransformer(statement= 'SELECT {input_cols}, {output_col} FROM __THIS__'.format(input_cols= ','.join(input_cols), output_col= output_col))

In [115]:
from pyspark.ml.feature import StringIndexer
sex_str_indexer= StringIndexer(inputCol= 'Sex', outputCol= 'Sex_idx')
embarked_str_indexer= StringIndexer(inputCol= 'Embarked', outputCol= 'Embarked_idx')

In [117]:
from pyspark.ml.feature import OneHotEncoderEstimator
oh_encoder= OneHotEncoderEstimator(inputCols= ['Embarked_idx'], outputCols= ['Embarked_dummy'])

In [118]:
from pyspark.ml.feature import VectorAssembler
vec_assembler= VectorAssembler(inputCols= ['Pclass', 'Sex_idx', 'Age', 'SibSp', 'Parch', 'Fare', 'Embarked_dummy'], outputCol= 'features')

In [119]:
from pyspark.ml.feature import MinMaxScaler
mm_scaler= MinMaxScaler(inputCol= 'features', outputCol= 'features_scale')

In [122]:
from pyspark.ml import Pipeline
pipeline_process= Pipeline(stages=[select_column, sex_str_indexer, embarked_str_indexer, oh_encoder, vec_assembler, mm_scaler])

## Tạo mô hình Logistic

In [124]:
process= pipeline_process.fit(train)
train_cleaned= process.transform(train)

In [125]:
from pyspark.ml.classification import LogisticRegression
lgt= LogisticRegression(featuresCol= 'features_scale', labelCol= output_col, predictionCol= output_col + 'predict')
lgt_model= lgt.fit(train_cleaned)

## Đánh giá mô hình

### Đánh giá trên tập train

In [126]:
lgt_evaluate_train= lgt_model.evaluate(train_cleaned)

In [127]:
lgt_evaluate_train.accuracy

0.8125

In [128]:
lgt_evaluate_train.precisionByLabel

[0.8202247191011236, 0.7990196078431373]

In [129]:
lgt_evaluate_train.recallByLabel

[0.8768768768768769, 0.7180616740088106]

In [130]:
lgt_evaluate_train.areaUnderROC

0.8598444259237211

### Đánh giá trên tập test

In [131]:
test_cleaned= process.transform(test)

In [132]:
lgt_evaluate_test= lgt_model.evaluate(test_cleaned)

In [133]:
lgt_evaluate_test.accuracy

0.7828947368421053

In [134]:
lgt_evaluate_test.precisionByLabel

[0.8085106382978723, 0.7413793103448276]

In [135]:
lgt_evaluate_test.recallByLabel

[0.8351648351648352, 0.7049180327868853]

In [136]:
lgt_evaluate_test.areaUnderROC

0.8540803458836244